
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="customers" style="border: 1px solid black">
                <tr>
                    <th>
                        Product_id
                    </th>
                    <th>
                        Product_name
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        email
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>